<!doctype html>
<html>
<head>
	<% include ../partials/head %>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		datepicker('#releaseDateInput', {
			formatter: (input, date, instance) => {
				input.value = date.toISOString().slice(0,10);
			}
		});
	});
	</script>
</head>
<body>
	<% include ../partials/navbar %>
	<div class="wrapper">

		<h2><%= formLabel %> Show</h2>
		<form class="form-box" method="POST" action="/forms/edit-show">
			<input type="hidden" name="showId" value="<%= showId || '' %>" />
			<input type="hidden" name="cont" value="<%= currentURL %>" />
			<div class="field">
				<label>Show Type: </label>
				<div class="values">
					<select name="showType" required>
						<option value="movie" <%= showData.show_type == 'movie' ? 'selected' : '' %> >Movie</option>
						<option value="tv-show" <%= showData.show_type == 'tv-show' ? 'selected' : '' %> >TV-show</option>
					</select>
				</div>
			</div>
            <hr/>
            <div class="field">
				<label>Name: </label>
				<div class="values">
					<input type="text" class="form-control" name="showName"
						value="<%= showData.name %>" required />
				</div>
			</div>
            <hr/>
            <div class="field">
				<label>Rating: </label>
				<div class="values">
					<select name="showRating" required>
						<% showRatingTypes.forEach(ratingType => { %>
							<option value="<%= ratingType %>"
								<%= showData.rating == ratingType ? 'selected' : '' %>><%= ratingType %></option>
						<% }) %>
					</select>
				</div>
			</div>
            <hr/>
            <div class="field">
				<label>Release Date: </label>
				<div class="values">
					<input id="releaseDateInput" type="text" class="form-control" name="showRelease"
						value="<%= showData.release_date ? showData.release_date.toISOString().slice(0,10) : '' %>" required>
				</div>
			</div>
            <hr/>
            <div class="field">
				<label>Length: </label>
				<div class="values">
					<input type="number" class="form-control" name="showLength"
						value="<%= showData.length_minutes %>" placeholder="Length in minutes" required/>
				</div>
			</div>
			<hr/>
			<div class="field">
				<div class="label">&nbsp;</div>
				<% if (isLoggedIn) { %>
					<button type="submit">Save</button>
				<% } else { %>
					<a href="/login">Register</a>
					<span>&nbsp;or&nbsp;</span>
					<a href="/login?cont=<%= currentURL %>">login</a>
					<span>&nbsp;to submit a movie</span>
				<% } %>
			</div>
		</form>
	</div>
</body>
</html>