<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
	<p>DBMS project. Hello World!</p>
	<input type="search" id="searchBox">
    
	<div class="show-list">
    <% shows.forEach(function(show) { %>
		<div class="show">
			<a href="/movie/<%= show.show_id %>"><h3><%= show.name %></h3></a>
			<p>Type: <strong><%= show.show_type %></strong></p>
			<p>Rating: <strong><%= show.rating %></strong></p>
			<p>Length: <strong><%= show.length_minutes %></strong></p>
			<p>Release Date: <strong><%= show.release_date %></strong></p>
		</div>
	<% }); %>
	</div>
</body>
</html>