<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <% if (locals.userEmail) { %>
        <div>Logged in as <%= locals.userName %> <a href="/logout">logout</a></div>
    <% } else { %>
        <div>Not logged in. <a href="/login">Login</a> or <a href="/register">Register</a></div>
    <% } %>

	<form method="GET" action="/search">
		<input type="search" name="q" id="searchBox" required>
		<button type="submit">Go</button>
	</form>
	
	<div class="show-list">
    <% shows.forEach(function(show) { %>
		<div class="show">
			<a href="/movie/<%= show.show_id %>"><h3><%= show.name %></h3></a>
			<p>Type: <strong><%= show.show_type %></strong></p>
			<p>Rating: <strong><%= show.rating %></strong></p>
			<p>Length: <strong><%= show.length_minutes %></strong></p>
			<p>Release Date: <strong><%= show.release_date %></strong></p>
		</div>
	<% }); %>
	</div>
</body>
</html>