<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
	<p>This is the search results page!</p>

	<form method="GET" action="/search">
		<input type="search" name="q" id="searchBox" required value="<%= searchText %>">
		<button type="submit">Go</button>
	</form>
	
	<div class="show-list">
    <% shows.forEach(function(show) { %>
		<div class="show">
			<a href="/movie/<%= show.show_id %>"><h3><%= show.name %></h3></a>
			<p>Type: <strong><%= show.show_type %></strong></p>
			<p>Rating: <strong><%= show.rating %></strong></p>
			<p>Length: <strong><%= show.length_minutes %></strong></p>
			<p>Release Date: <strong><%= show.release_date %></strong></p>
		</div>
	<% }); %>
	</div>
</body>
</html>