<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navbar %>
	<div class="wrapper">
		<%- include('../partials/show', { show: show }) %>

		<% if (isLoggedIn && userType === 'admin') { %>
		<div class="admin-tools" style="display:flex">
			<a href="/edit-show/<%= show.show_id %>">Edit Show</a>
			<form method="POST" action="/forms/delete-show" style="margin-left:10px"
					onsubmit="return confirm('Are you sure you want to delete the show?');">
				<input type="hidden" name="showId" value="<%= show.show_id %>">
				<button type="submit">Delete show</button>
			</form>
		</div>
		<% } %>

		<div class="showDetails">
			<h3>Cast Members:</h3>
			<% castMembers.forEach(function(member) { %>
				<div class="castmember">
					<p><%= member.cast_role + " - " + member.first_name + " " + member.last_name %></p>
				</div>
			<% }); %>
		</div>

		<h2>Reviews</h2>
		<form class="form-box" method="POST" action="/forms/leavereview">
			<input type="hidden" name="showId" value="<%= show.show_id %>" />
			<input type="hidden" name="cont" value="<%= currentURL %>" />
			<h4>Leave a Review: </h4>
			<hr/>

			<% if (reviewErrorMessage) { %>
				<div class="errorMessage"><%= reviewErrorMessage %></div>
			<% } %>

			<div class="field">
				<label>Posting as:</label>
				<div class="values">
					<%= userName || 'Nobody' %>
				</div>
			</div>
			<div class="field">
				<label>Score:</label>
				<div class="values">
					<%- include('../partials/select-rating', {name: 'score', required: true}) %>
				</div>
			</div>
			<div class="field">
				<label>Comments: </label>
				<div class="values">
					<textarea class="form-control" name="reviewText" rows="5" cols="50" required></textarea>
				</div>
			</div>
			<hr/>
			<div class="field">
				<div class="label">&nbsp;</div>
				<% if (isLoggedIn) { %>
					<button type="submit">Submit review</button>
				<% } else { %>
					<a href="/login">Register</a>
					<span>&nbsp;or&nbsp;</span>
					<a href="/login?cont=<%= currentURL %>">login</a>
					<span>&nbsp;to submit a review</span>
				<% } %>
			</div>
		</form>
		<div class="review-columns">
			<div class="review-list">
				<h3>Critic Reviews</h3>
				<% if (!userReviews.length) { %>
					<div>There aren't any critic reviews yet.</div>
				<% } %>
				<% criticReviews.forEach(function(review) { %>
					<%- include('../partials/review', { review: review }) %>
				<% }); %>
			</div>
			<div class="review-list">
				<h3>User Reviews</h3>
				<% if (!userReviews.length) { %>
					<div>There aren't any user reviews yet.</div>
				<% } %>
				<% userReviews.forEach(function(review) { %>
					<%- include('../partials/review', { review: review }) %>
				<% }); %>
			</div>
		</div>
	</div>
</body>
</html>